@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Цвет текста */
  --basic-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --logo-footer: #ffffff;
  --contacts-footer: #ffffff;
  --contacts-list-footer: rgba(255, 255, 255, 0.6);
  --title: #ffffff;
  --button: #ffffff;
  --office: #ffffff;
  --item: #ffffff;
  /* Цвет фона */
  --dark-bg: #2f303a;
  --secondary-bg: #f5f4fa;
  /* Акцент цвета текста и фона*/
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  /* Цвет линий*/
  --card-line: #eeeeee;
  /* Переменная зазоров между карточками*/
  --filter-list-card: 30px;
  /* Функция разделения времени в переходах*/
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--basic-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

address {
  font-style: normal;
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

ul,
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Кнопка заказа услуги из секции герой*/
.hero-button {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--button);
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.hero-button:hover, .hero-button:focus {
  background-color: var(--accent-color-hover);
}

/* Кнопки фильтров из списка кнопок портфолио*/
.button__portfolio-btn {
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  font-family: var(----main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bg);
  color: var(--basic-color);
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.button__portfolio-btn:hover, .button__portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--button);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button__btn-item:not(:last-child) {
  margin-right: 8px;
}

/* Кнопка футера*/
.footer-button-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__button-subscribe {
  margin-left: 12px;
  width: 200px;
  padding: 10px 62px 10px 29px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.footer__button-subscribe:hover, .footer__button-subscribe:focus {
  background-color: var(--accent-color-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__icon-send {
  background-image: url("../images/icons/icon-send1.svg");
  bottom: 50%;
  left: 52px;
  -webkit-transform: translate(-52px, 50%);
          transform: translate(-52px, 50%);
}

/* Кнопка модального окна - закрыть*/
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon-vector-btn {
  color: #000000;
  fill: currentColor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.modal__icon-vector-btn:hover {
  color: var(--accent-color-hover);
}
.modal__icon-vector-btn:checked + .modal__btn-close::after {
  color: var(--accent-color-hover);
}

/* Кнопка модального окна - заказать*/
.modal-button-send {
  padding: 10px 55px;
  padding-right: auto;
  margin-left: auto;
  width: 200px;
  min-width: 89px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.modal-button-send:hover, .modal-button-send:focus {
  background-color: var(--accent-color-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Соцыальные сети представителей нашей команды */
.team-list__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-list__socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-list__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.team-list__socials-link:hover, .team-list__socials-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team-list__socials-icom {
  fill: currentColor;
}

/* Соцыальные сети футера */
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.footer__socials-icom {
  fill: currentColor;
}

.footer__socials-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer__team-name {
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__socials-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.footer__socials-link-footer:hover, .footer__socials-link-footer:focus {
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-window-ad {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  width: 448px;
  color: #212121;
}

.modal-window__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-window__input-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal-window__input-information:not(:last-child) {
  margin-bottom: 4px;
}

.modal-window__input-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-window__form-input {
  padding-left: 42px;
  max-width: 448px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.modal-window__form-input:not(:last-child) {
  margin-bottom: 10px;
}
.modal-window__form-input:hover {
  border-color: var(--accent-color-hover);
}
.modal-window__form-input:focus {
  outline: transparent var(--accent-color-hover);
}

.modal-window__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.modal-window__textarea:hover {
  border-color: var(--accent-color-hover);
}
.modal-window__textarea:focus {
  outline: transparent var(--accent-color-hover);
}

.modal-window__icon-checkbox {
  position: absolute;
  top: 35px;
  left: 12px;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
  color: #212121;
  fill: currentColor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.modal-window__input-field:focus-within > .modal-window__icon-checkbox {
  color: var(--accent-color-hover);
}

.modal-window__input-field:hover > .modal-window__icon-checkbox {
  color: var(--accent-color-hover);
}

.modal-window__form-input:focus {
  border-color: var(--accent-color-hover);
}

.modal-window__textarea:focus {
  border-color: var(--accent-color-hover);
}

.modal-window__textarea::-webkit-input-placeholder {
  font-style: normal;
}

.modal-window__textarea::-moz-placeholder {
  font-style: normal;
}

.modal-window__textarea:-ms-input-placeholder {
  font-style: normal;
}

.modal-window__textarea::-ms-input-placeholder {
  font-style: normal;
}

.modal-window__textarea::placeholder {
  font-style: normal;
}

.modal-window__checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-window__icon-vector-checkbox {
  display: inline-block;
  color: #212121;
  cursor: pointer;
}

.checkbox:checked + .modal-window__icon-vector-checkbox {
  background-color: var(--accent-color);
  background-image: url("../images/icons/icon-tick-checkbox.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-window__checkbox {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-window__contract-conditions-checkbox {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.modal-window__contract-conditions-checkbox:hover, .modal-window__contract-conditions-checkbox:focus {
  color: var(--accent-color-hover);
}

/* Список контактов */
/* Хедер */
.contacts__header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts__header-list .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts-header-list__contacts-email {
  padding: 32px 0px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts-header-list__contacts-email:hover, .contacts-header-list__contacts-email:focus {
  color: var(--accent-color);
}

.contacts-header-list__contacts-phone {
  padding: 32px 0px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--secondary-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts-header-list__contacts-phone:hover, .contacts-header-list__contacts-phone:focus {
  color: var(--accent-color);
}

/* Иконки конверта и смартфона*/
.icon-header {
  margin-right: 10px;
  fill: currentColor;
}

/* Декорации ссылок шапки сайта (акцент нахождения на разделе) */
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Футер */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address-contacts {
  margin-right: 70px;
}

.footer__footer-item {
  width: 231px;
}
.footer__footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__footer-contact {
  line-height: 1.71;
  font-weight: 400;
  color: var(--contacts-list-footer);
}
.footer__footer-contact:hover, .footer__footer-contact:focus {
  color: var(--accent-color);
}

/* Почтовый адрес */
.footer__footer-office {
  font-weight: 400;
  line-height: 1.71;
  color: var(--office);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.footer__footer-office:hover, .footer__footer-office:focus {
  color: var(--accent-color);
}

/* Ссылка с логотипом */
/* Хедер */
.accent {
  color: var(--accent-color);
}

.logo {
  padding: 24px 0px 25px;
  color: var(--main-font);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Футер */
.footer-accent {
  color: var(--accent-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--logo-footer);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-line {
  border-bottom: 1px solid var(--card-line);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--dark-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Приглашение на рассылку футера */
.invitation__box-invitation-mailing-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invitation__mailing-lists {
  margin-left: 93px;
  margin-bottom: 20px;
  width: 219px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.invitation__email-mailing-lists {
  margin-left: 93px;
  padding: 15px 295px 15px 16px;
  width: 47px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: drop-shadow 250ms var(--timing-function);
  transition: drop-shadow 250ms var(--timing-function);
  background-color: var(--dark-bg);
}

.navigation__header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.navigation__header-list .navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__header-list .navigation__link {
  position: relative;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--basic-color);
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.navigation__header-list .navigation__link:hover, .navigation__header-list .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link {
  text-decoration: none;
}

.navigation__header-list .current {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--dark-bg);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--title);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Приемущества работы */
.priority {
  padding-bottom: 0px;
}

.priority-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.priority-item {
  width: 270px;
}
.priority-item:not(:last-child) {
  margin-right: var(--filter-list-card);
}

.priority-item__subtitle {
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.14;
  font-size: 14px;
  color: var(--basic-color);
  text-transform: uppercase;
}

/* Иконки */
.priority-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

/* Текстовый контент к приемуществам работы */
.priority-item__text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-color);
}

/* Чем мы занмаемся */
.works-title {
  margin-bottom: 50px;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  text-align: center;
  color: var(--basic-color);
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-list__works-item {
  position: relative;
}
.works-list__works-item:not(:last-child) {
  margin-right: var(--filter-list-card);
}

.works-list__box-works-description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-list__works-description {
  margin-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
}

/* Наша команда */
.team {
  background-color: var(--secondary-bg);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  text-align: center;
  color: var(--basic-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list__team-item {
  background-color: var(--item);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__team-item:not(:last-child) {
  margin-right: var(--filter-list-card);
}

.team-list__team-descr {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Список имен представителей нашей команди */
.team-list__team-name {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.19;
  font-size: 16px;
  text-align: center;
  color: var(--basic-color);
}

/* Должности представителей нашей команды */
.team-list__team-position {
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.19;
  font-size: 16px;
  text-align: center;
  color: var(--secondary-color);
}

.klient-title {
  margin-bottom: 50px;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  text-align: center;
  color: var(--basic-color);
}

.klient-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.klient-list__klient-item:not(:last-child) {
  margin-right: 30px;
}

.klient-list__logo-klient {
  fill: currentColor;
}

.klient-list__klient-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
}
.klient-list__klient-link:hover, .klient-list__klient-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

/* Контент и направление контента фильтрующигося списком портфолио */
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--filter-list-card));
  margin-left: calc(-1 * var(--filter-list-card));
}

.portfolio-list .portfolio-list__portfolio-item {
  -ms-flex-preferred-size: calc(33.3333333333% - var(--filter-list-card));
      flex-basis: calc(33.3333333333% - var(--filter-list-card));
  margin-top: var(--filter-list-card);
  margin-left: var(--filter-list-card);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.portfolio-list__portfolio-content-direction {
  padding: 20px 24px;
  border: 1px solid var(--card-line);
  border-top: none;
}

.portfolio-list__portfolio-content {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-color);
}

.portfolio-list__portfolio-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color);
}

/* выбор позиции в портфолио*/
.portfolio-list__portfolio-link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.portfolio-list__portfolio-link:hover, .portfolio-list__portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__portfolio-link:hover .portfolio-list__submenu, .portfolio-list__portfolio-link:focus .portfolio-list__submenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Cубменю*/
.portfolio-list__picture {
  position: relative;
  overflow: hidden;
}

.portfolio-list__submenu {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 750ms;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
}/*# sourceMappingURL=main.css.map */