// utils
@import './utils/vars';
@import './utils/visually-hidden';
@import './utils/breakpoints';

// base styles
@import './base/common';
@import './base/reset';
@import './base/container';

//components
@import './components/botton';
@import './components/socials';
@import './components/modal-window/module';
@import './components/contacts';
@import './components/logo';
@import './components/header';
@import './components/footer';
@import './components/navigation';

//layouts
@import './layouts/hero';
@import './layouts/priority';
@import './layouts/works';
@import './layouts/team';
@import './layouts/klient';
@import './layouts/portfolio';
