/* Контент и направление контента фильтрующигося списком портфолио */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--filter-list-card));
  margin-left: calc(-1 * var(--filter-list-card));
}
.portfolio-list .portfolio-list__portfolio-item {
  flex-basis: calc(100% / 3 - var(--filter-list-card));
  margin-top: var(--filter-list-card);
  margin-left: var(--filter-list-card);
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-list__portfolio-content-direction {
  padding: 20px 24px;
  border: 1px solid var(--card-line);
  border-top: none;
}
.portfolio-list__portfolio-content {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-color);
}
.portfolio-list__portfolio-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color);
}
/* выбор позиции в портфолио*/
.portfolio-list__portfolio-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio-list__submenu,
  &:focus .portfolio-list__submenu {
    transform: translateY(0);
  }
}
/* Cубменю*/
.portfolio-list__picture {
  position: relative;
  overflow: hidden;
}
.portfolio-list__submenu {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(101%);
  transition: transform 750ms;
}
